.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.Mycontents {
  border: 5px solid;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin: 10px auto;
}

.mole {
  background-image: url(../images/axe.jpg);
}
.mole2 {
  background-image: url(../images/rsz_mk1.jpg);
}
